{# app/Resources/views/emails/fos_registration.email.twig #}
{% extends '/emails/template.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    {% autoescape false %}
    {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
    {% endautoescape %}
{% endblock %}

{% block heading %}
    Thank you!
{% endblock %}

{% block content %}

    <div>
        {% block body_text %}
            We've added your organisation OK. To complete the activation process, please confirm your email address by clicking the link below.
            <br><br>
            {{ confirmationUrl }}
        {% endblock %}
    </div>

{% endblock %}

{% block body_html %}{% endblock %}