{% extends 'base.html.twig' %}

{% block hero %}no hero content{% endblock %}

{% block account_nav %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="container">
    <div class="row" style="padding-top: 10px">
        <div class="col-md-12" id="account-nav">
            <p>
                Hello, {{ app.user.firstName }}. &nbsp;&nbsp;
                <a href="{{ path('fos_user_profile_show') }}" style="padding: 0 10px">My account</a>
                <a href="{{ path('fos_user_security_logout') }}" style="padding: 0 10px">Log out</a>
                <span class="pull-right">
                    {% if app.user.org %}
                        Organisation: <strong>{{ app.user.org.name }}</strong>
                    {% else %}
                        <a href="https://www.lending-libraries.online" class="btn btn-primary">Add your organisation</a>
                    {% endif %}
                </span>
            </p>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}

{% block body %}{% endblock %}

{% block pagescripts %}{% endblock %}