{% extends 'base.html.twig' %}

{% block h1 %}Demo Lend Engine site{% endblock %}

{% block body %}

    <section id="title">
        <div class="container">
            <h1>
                Example embedded Lend Engine public site
            </h1>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        In the box below we've embedded a Lend Engine public website using a script tag:
                    </p>
                    <pre>&lt;script src=”http://your_account.lend-engine-app.com/?embed=true”&gt;&lt;/script&gt;</pre>
                    <div style="padding: 10px; border: 1px solid #CCC; border-radius: 5px;">
                        <script src="http://dev.lend-engine-app.com/?embed=true"></script>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
