{% extends 'base.html.twig' %}

{% block title %}Lend Engine help guides and support{% endblock %}

{% block body %}

    <section id="title">
        <div class="container">
            <h1>We're here to help</h1>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </section>

    <section id="feature1">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <h3>Comprehensive support documents</h3>
                    <p>
                        We've put together a PDF user guide which you can print out and share with your volunteers.<br>
                        It's also a great way to see the breadth of features that the Lend Engine provides.
                    </p>
                    <p>
                        <a href="/downloads/LendEngineUserGuide2020.1.pdf" target="_blank" class="btn btn-success">Download the user guide</a>
                    </p>
                    <br><br>
                    <h3>A friendly community</h3>
                    <p>
                        Join our <a href="https://www.facebook.com/groups/2264099010336961" target="_blank">Facebook group for Lend Engine administrators</a> to ask any questions or add suggestions.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/images/user_guide.png" class="img-responsive img-thumbnail" alt="feature img">
                </div>
            </div>

        </div>
    </section>

{% endblock %}
