{% extends 'base.html.twig' %}

{% block title %}Software for lending libraries, toy libraries and tool libraries | Lend Engine{% endblock %}

{% block body %}

    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p> </p>
                        <h1>Software for Lending Libraries</h1>
                        <p class="tm-white">
                            Tools or toys, cameras, bikes ... lend anything. <br />
                            Manage inventory, members, payments and loans.
                        </p>
                        <img src="/images/software-img.png" class="img-responsive" alt="home img">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="divider">
        <div class="container">
            <div class="row">

                <div class="col-md-4 wow fadeInUp content-box" data-wow-delay="0.3s">
                    <img src="/images/item-list.png" class="img-responsive">
                    <h3>Manage items</h3>
                    <p>
                        An online database to store all your item information.
                        Custom fields, multiple images, multiple item locations and more...
                    </p>
                </div>

                <div class="col-md-4 wow fadeInUp content-box" data-wow-delay="0.4s">
                    <img src="/images/contact.png" class="img-responsive">
                    <h3>Manage members</h3>
                    <p>
                        Record information about your members, their memberships, payments and fees.
                        Use custom fields to store additional data.
                        See detailed member history.
                    </p>
                </div>

                <div class="col-md-4 wow fadeInUp content-box" data-wow-delay="0.5s">
                    <img src="/images/loan-list.png" class="img-responsive">
                    <h3>Track loans & reservations</h3>
                    <p>
                        Check in, check out, reserve items, send overdue reminders and more.
                        Add custom fields to track extra information and bring your reports to life.
                    </p>
                </div>
            </div>
            <br />

            <div class="row">

                <div class="col-md-4 wow fadeInUp content-box" data-wow-delay="0.6s">
                    <img src="/images/report.png" class="img-responsive">
                    <h3>Produce reports</h3>
                    <p>
                        Gain insight into your lending organisation like you've never had before with a selection of flexible reports.
                    </p>
                </div>

                <div class="col-md-4 wow fadeInUp content-box" data-wow-delay="0.7s">
                    <img src="/images/locations.png" class="img-responsive">
                    <h3>Fully configurable</h3>
                    <p>
                        Set up the system just as you need it with unlimited item locations, multiple staff members,
                        and custom fields.
                    </p>
                </div>

                <div class="col-md-4 wow fadeInUp content-box" data-wow-delay="0.8s">
                    <img src="/images/item.png" class="img-responsive">
                    <h3>Everything in one place</h3>
                    <p>
                        Store everything there is to know about an item in your online database.
                        The Lend Engine will also automatically record item history.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
