{% extends 'base.html.twig' %}

{% block title %}Stock control for lending organisations{% endblock %}

{% block body %}

    <section id="title">
        <div class="container">
            <h1>Easy, online stock control</h1>
        </div>
    </section>


    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Keep your product and inventory database online, in the same system as your loans and members, accessible from
                        anywhere, on any device.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
                    <button class="btn btn-success text-uppercase">Sounds good. Let's go!</button>
                </div>
                <div class="col-md-6">
                    <img src="/images/software-img.png" class="img-responsive" alt="feature img">
                </div>
            </div>
        </div>
    </section>

    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                    <img src="/images/software-img.png" class="img-responsive" alt="feature img">
                </div>
                <div class="col-md-8 wow fadeInUp" data-wow-delay="0.6s">
                    <h3 class="text-uppercase">Batch and serial number tracking</h3>
                    <p>
                        For each "product" you can add multiple items of "inventory". Each inventory item shares the same general information;
                        such as name, manufacturer and custom fields, but has different item-specific information such as "condition"
                        or serial number.
                        </p>
                    <p>Every batch of inventory you add can be given a reference too, which lets you track items
                        every step of the way from the day you add them to the day they are sold, given away or written off.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Location tracking</h2>
                    <p>
                        Set up locations so that you know where your items are at all times. Locations can be set as "unavailable",
                        which lets you keep items in stock, but they can't be added to loans. Useful for putting items on hold, perhaps for
                        repair or cleaning. Each time you move items between locations, you can add notes; which can be pulled up later
                        to see a full history of the item.
                    </p>
                </div>
                <div class="col-md-4 wow fadeInRight" data-wow-delay="0.6s">
                    <img src="/images/software-img.png" class="img-responsive" alt="feature img">
                </div>
            </div>
        </div>
    </section>

    {#<section id="feature">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-4 wow fadeInRight" data-wow-delay="0.6s">#}
                    {#<img src="/images/software-img.png" class="img-responsive" alt="feature img">#}
                {#</div>#}
                {#<div class="col-md-8 wow fadeInLeft" data-wow-delay="0.6s">#}
                    {#<h2 class="text-uppercase">Barcode inventory tracking</h2>#}
                    {#<p>#}
                        {#If items have barcodes, just scan the code in to find them quickly when moving inventory, creating a loan, or#}
                        {#when you're doing a stock check.#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

{% endblock %}
