{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}Registration confirmed{% endblock %}

{% block fos_user_content %}
    <h1>Welcome!</h1>


    <p class="large-text">
        Your account is activated and you're now logged in. Next step is to add your organisation, and then add any sites.
    </p>

    <p>&nbsp;</p>

    <p>
        <a href="{{ path('org') }}" class="btn btn-primary">Add an organisation</a>
    </p>

{% endblock fos_user_content %}
