{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}Registration confirmed{% endblock %}

{% block fos_user_content %}
    <p class="large-text">
        {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
    </p>

    <p>
        <a href="{{ path('org') }}" class="btn btn-primary">Add an organisation</a>
    </p>

{% endblock fos_user_content %}
