
body {
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.tm-white a {
    color: #fff;
}

/* start h1 group */
h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Asap', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Asap', sans-serif;
}

.container h3 {
    margin-top: 0;
}

/* end h1 group */

p {
    line-height: 1.6em;
    font-size: 16px;
}

a, .btn {
    font-size: 16px;
}

.color-wt {
    color: #fff;
}

/* img */
img {
    max-width: 100%;
    height: auto;
}

.content-box {
    padding: 20px;
    text-align: left;
}

.content-box h3 {
    margin-top: 20px;
}

.help-block {
    display:block;
}

.form-group {
    clear:left;
}

/* img */

/* overlay */
.overlay {
    width: 100%;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* over lay */

/* start page container */
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

/* end page container */

/* start navigation */
.nav {
    font-family: 'Asap', sans-serif;
}

.navbar-default {
    background: #3f3b55;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    margin: 0 !important;
    border-bottom: 1px solid #eec853;
}

.navbar-default .navbar-brand {
    color: #eec853;
    height: 20px;
    line-height: 20px;
    font-family: 'Asap', sans-serif;
}

.navbar-default .nav li {

}

.navbar-default .nav li a {
    color: #97aab5;
    height: 50px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current {
    color: #eec853;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #eec853;
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent
}

.navbar-default .dropdown-menu li a {
    line-height: 35px;
}

#docs-nav li {

}
#docs-nav li a {
    border-radius: 0;
    border-left: 3px solid white;
}
#docs-nav li a:hover {
    background-color: #fff;
    border-left: 3px solid #cccccc;
}
#docs-nav li a.active {
    border-left: 3px solid #000;
    color: #000;
}

/* end navigation */

.temp {
    background: url('../images/home-bg.jpg') no-repeat;
    background-size: cover;
}

#docs-content h1 {
    padding-top: 30px;
}

#docs-content h3 {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    font-size: 20px;
}

#docs-content h4 {
    padding-top: 15px;
}

#docs-content ul {
    font-size: 16px;
}

#docs-content li {
    padding: 5px 0;
}

/* start home */
#home {
    background-color: #f5f7f9;
    color: #3f3b55;
    text-align: center;
    width: 100%;
}

#home p {
    font-weight: 400;
    font-style: italic;
    line-height: 2em;
}

#home img {
    display: inline-block;
    margin-top: 30px;
}

#home h1 {
    font-size: 58px;
}

.first-row {
    padding-top: 40px;
}

.align-left {
    text-align: left;
}

/* end home */

/* start divider */
#divider {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

#divider .fa {
    color: #eec853;
    font-size: 60px;
}

/* end divider */

#account-nav {
    text-align: left;
    padding: 4px 15px;
}

#title {
    font-family: 'Asap', sans-serif;
    background: #eec853;
    color: #000;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: left;
}

#feature-heading {
    font-family: 'Asap', sans-serif;
    background: #eec853;
    color: #000;
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: left;
}

#feature-heading h2 {
    padding: 0;
    font-size: 14px;
    margin: 0;
}

#title img {
    width: 160px;
    float: left;
    margin-left: 80px;
    margin-right: 50px;
}

#title p, #title a {
    font-size: 28px;
    font-weight: bold;
}

#title a {
    color: #3F3B55;
}

/* start feature */
#feature {
    background: #f8f8f8;
    padding-top: 60px;
    padding-bottom: 60px;
}

#feature p {
    padding-top: 10px;
}

#feature span {
    float: left;
}

#feature .fa {
    background: #eec853;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
}

/* end feature */

/* start feature1 */
#feature1 {
    padding-top: 10px;
    padding-bottom: 60px;
}

#feature1 p {
    padding-top: 10px;
}

#feature1 p strong {
    /*color: #eec853;*/
}

#feature1 span {
    float: left;
}

#feature1 .fa {
    background: #eec853;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
}

/* end feature1 */

/* start pricing */
#pricing {
    background: #f8f8f8;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

#pricing h2 {
    padding-bottom: 60px;
}

#pricing .plan {
    background-color: #aaaaaa;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 75px;
    top: -100px;
    position: relative;
}

#pricing .plan div {
    padding-top: 40px;
}

#pricing .pricing {
    background: #fff;
}

#pricing .active {
    position: relative;
    bottom: 20px;
}

#pricing .pricing .pricing-title {
    background: #eec853;
    color: #222222;
    font-weight: bold;
    padding: 30px;
}

#pricing .pricing .pricing-title p {
    font-size: 28px;
}

#pricing .pricing ul {
    padding: 0;
    margin: 0;
}

#pricing .pricing ul li {
    display: block;
    list-style: none;
    padding: 16px;
}

#pricing .pricing-detail ul {
    padding: 0;
    margin: 0;
}

#pricing .pricing-detail ul li {
    display: block;
    list-style: none;
    padding: 10px;
    font-size: 16px;
}

#pricing .pricing-detail i {
    font-size: 20px;
    color: #5cb85c;
    padding: 0 6px;
}

#pricing .pricing .btn {
    border-radius: 5px;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* end pricing */

/* start contact */
#contact {

}

#contact h2 {
    padding-bottom: 10px;
}

#contact address {
    padding-top: 20px;
}

#contact address .fa {
    background: #eec853;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px;
}

#contact .contact-form {
    padding-top: 40px;
}

#contact .form-control {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
}

#contact input {
    height: 50px;
}

/* end contact */

.page-intro {
    font-size: 16px;
    margin-bottom: 20px;
}

/* start footer */
footer {
    background: #484848;
    color: #fff;
    font-weight: 400;
    text-align: left;
    padding: 20px;
    border-top: 1px solid #000;
}

footer .container {
    height: 240px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 10px;
    color: #eec853;
}

footer .nav>li>a {
    padding: 6px 0;
    color: #97aab5;
}

footer .nav>li>a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: #fff;
}

.copyright {
    font-size: 12px;
    color: #97aab5;
}

footer ul.industries>li {
    text-align: center;
    margin-left: 10px;
    width: 130px;
    margin-bottom: 10px;
}

footer ul.industries>li img {
    width: 50px;
}

/* end footer */

.btn-signup {
    margin-top: 20px;
}

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }

    #pricing .active {
        bottom: 0;
    }

    .pricing {
        margin-bottom: 20px;
    }

    #feature img, #download img {
        margin-top: 30px;
    }

    #feature1 img {
        margin-bottom: 30px;
    }
}

@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }

    #feature, #pricing, #download {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #contact .overlay {
        padding-top: 40px;
    }
}

/* start media 360 */
@media screen and ( max-width: 360px ) {
    .pricing {
        padding-bottom: 40px;
    }
}

/* end media 360 */