{% extends 'features/features_template.html.twig' %}

{% block title %}Web based asset management software{% endblock %}

{% block breadcrumb %}Asset management software{% endblock %}

{% block featureContent %}

    <h1 id="contacts">Asset tracking and maintenance management</h1>

    <p>The Lend Engine stores all your asset information online where it can be easily and securely accessed by anyone
        in your team, using any device, anywhere. Record an item's location, it's rental or loan history,
    who it's assigned to, reservation dates, costs and more.</p>

    <h3>Book items out by the hour, day or week</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="/images/screenshots/asset_management.png" class="img-thumbnail">
        </div>
        <div class="col-md-6">
            <p>
                With the easy-to-use item booking calendar, you can quickly select a site and time for lending an item out.
                Reserve items for future dates, or just check out now.
            </p>
            <p>
                Borrowers receive email confirmation, with your organisation email receiving a copy too, if you need.
            </p>
            <p>
                Charge fees, or charge nothing. Or charge to only certain types of members; it's all configurable.
            </p>
        </div>
    </div>

    <h3>Flexible and scalable data storage</h3>
    <p>As well as a rich set of default fields, you can add extra custom fields to your asset (item) records.
        File attachments are a great way to store contract, service reports, safety manuals or software licences.
        Notes can be used to record any changes or issues. There's practically no limit to the amount or type of
    information you can store on your Lend Engine items.</p>

    <h3>Inspection and service / maintenance logs</h3>
    <p>Minimise downtime and reduce breakdowns by regularly maintaining your items. When an item needs a repair or hits
        a maintenance point, assign the item to a repair location and/or technicial who can add notes, upload reports and
        add costs of any parts and labour. All costs are easily reported on too.
    </p>
    <p>
        Read more about Lend Engine <a href="{{ path('features', {slug: 'maintenance-and-servicing'}) }}">maintenance and servicing software</a>
    </p>

{% endblock %}