{% extends 'features/features_template.html.twig' %}

{% block title %}Automated email reminders for members{% endblock %}

{% block breadcrumb %}Automated email reminders save you time{% endblock %}

{% block featureContent %}

    <h1>Automation</h1>

    <p>Automated emails are sent to your members following various events,
        saving you time and increasing the efficiency of your lending or rental operation.</p>

    <ul>
        <li>
            <strong>Detailed loan, rental and reservation confirmation emails</strong>
            <br>Ensure your customers and members are fully educated about the items they are borrowing or renting.
            If you've added file attachments (such as instruction manuals) then these can be emailed when items are checked out.
        </li>
        <li>
            <strong>Reservation reminders</strong>
            <br>Reduce your no-show rate, and give your members and customers details of where / how to collect their items.
        </li>
        <li>
            <strong>Loan overdue notification</strong>
            <br>No need to chase members or customers continually when they haven't yet brought back an item.
            Use the multi-stage overdue reminders emails to do it for you.
        </li>
        <li>
            <strong>Membership expiry reminders</strong>
            <br>Spend less time on renewals using the automated email which is sent to members shortly before their
            membership expires. Add links and information to encourage them to self-serve their renewal online.
        </li>
    </ul>

    <h3>Customise your templates</h3>
    <p>Automated emails can be customised with your own content, giving members and customers full instructions for what to do next.
    </p>

{% endblock %}