{% extends 'features/features_template.html.twig' %}

{% block title %}Barcodes{% endblock %}

{% block breadcrumb %}Asset management software{% endblock %}

{% block featureContent %}

    <h1>Barcode label printing and scanning</h1>

    <p>Use Lend Engine to print barcode labels for your items, using Dymo LabelWriter thermal printers.</p>

    <p>
        You can scan barcodes (either printed from Lend Engine or barcodes already on your items) to speed up day-to-day
        processes like item check in and check out.
    </p>

{% endblock %}