{% extends 'features/features_template.html.twig' %}

{% block title %}Sell consumables or stock items{% endblock %}

{% block breadcrumb %}Consumables or stock items{% endblock %}

{% block featureContent %}

    <h1 id="contacts">Sell consumables and stock items</h1>

    <p>Many libaries also need to sell consumables alongside loans of regular items; Lend Engine makes this easy.</p>

    <h3>Track your consumables stock and location</h3>
    <div class="row">
        <div class="col-md-8">
            <img src="/images/screenshots/consumables_inventory.png" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <p>
                As well as adding loan items to your database, you can add stock items, which can be sold to members.
                Great for consumables like fluids, accessories, or even just fixed add-on fees which you may charge.
            </p>
            <p>
                Using the Lend Engine's powerful multi-site capability, you can see how much of each item you have in each location.
            </p>
        </div>
    </div>

    <h3>Add consumables to loans and reservations</h3>
    <div class="row">
        <div class="col-md-8">
            <img src="/images/screenshots/stock_item_site.png" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <p>
                Charge for stock items, or charge nothing. Or charge to only certain members; it's all configurable.
                Users can add stock items to loans and reservations themselves (if you have self-serve turned on), and
                you can add items retrospectively to loans created earlier by members, when you check out.
            </p>
        </div>
    </div>


{% endblock %}