{% extends 'features/features_template.html.twig' %}

{% block title %}Cost management for lending libraries{% endblock %}

{% block breadcrumb %}Monitor costs for your Library of Things{% endblock %}

{% block featureContent %}
    <h1>Cost monitoring</h1>
    <p>
        When checking in items which require repair or service, you assign them to a repair location and optionally
        also a repair technician. When the repair is complete, the technician adds a note and a cost to the item,
        and moves the item back into a loan-able location.
    </p>
    <p>
        The costs show on the item costs report, which you can use to see which items are most costly to maintain.
    </p>
{% endblock %}