{% extends 'features/features_template.html.twig' %}

{% block title %}Event and workshop booking software for lending libraries{% endblock %}

{% block breadcrumb %}Event and workshop booking for lending libraries and rental companies{% endblock %}

{% block featureContent %}

    <h1>Event and workshop listings / booking</h1>

    <p>If you run workshops, meetings, repair cafés or any other kind of event, you can use the Lend Engine to manage a calendar and event bookings.</p>

    <p><img src="/images/screenshots/events.png" style="width: 80%" class="img-responsive img-thumbnail"></p>

    <h3>Web based calendar</h3>
    <p>
        Your member site comes with a built in events calendar; events can tie in with your regular site opening hours
        so you can manage everything in one system. Allow pick up and drop off of items at events, too.
    </p>

    <h3>Online event booking</h3>
    <p>
        If you choose, you can allow people to book places on your events.
        Take payment by credit/debit card too, if your event has a cost.
        Manage event bookings and attendance in the same platform as your members, loans and memberships.
    </p>

{% endblock %}