{% extends 'features/features_template.html.twig' %}

{% block title %}Language &amp; Currency{% endblock %}

{% block breadcrumb %}Language &amp; Currency{% endblock %}

{% block featureContent %}

    <h1>Localisation</h1>

    <h2>For libraries anywhere</h2>
    <p>Just choose your timezone and currency.</p>
    <p>
        <img src="/images/screenshots/timezone.png" style="width: 350px">
    </p>

    <h2>In the language of your choice</h2>

    <p>Thanks to our generous community of translators, Lend Engine member sites are available in the following languages:</p>
    <ul>
        <li>English</li>
        <li>Dutch</li>
        <li>French</li>
        <li>Icelandic</li>
        <li>Romanian</li>
        <li>Slovak</li>
        <li>Spanish</li>
        <li>Welsh</li>
    </ul>

    <p>All plans allow you to choose a single language from the above list for your member site and automated emails.
        Our top tier plans allow you to display item information in your customer/member's choice of language;
    each customer can have a different language, within the choices you give them.</p>

    <p>If you'd like your members to view items, browse your site and receive automated emails in a language that's not
        listed, and you feel able to translate a few hundred words, just get in touch and we'll talk.</p>

{% endblock %}