{% extends 'features/features_template.html.twig' %}

{% block title %}Manage your library's contacts and members online{% endblock %}

{% block breadcrumb %}Member and membership software for libraries{% endblock %}

{% block featureContent %}

    <h1 id="contacts">Members & Memberships</h1>

    <h3>Great built-in support for organisations with regular members</h3>
    <p>Working with members requires a different set of tools from those required to deal with one-off rental customers.
    Lend Engine is designed for libraries with different tiers of members, along with supporting features like renewals,
    extensions and reminders.</p>

    <h3>Multiple membership types</h3>
    <p>Create as many membership types as you need, with different durations, costs, and discount rates on your regular
        lending prices. Some of these can be set as 'self serve', which allows your members to manage most tasks online
        without needing interaction with staff or volunteers - saving you time.</p>

    <h3>Not just member management</h3>
    <p>The Lend Engine stores all your contact / member information online, where it can be accessed by anyone in your
        team. Use the contact database to record contact details for anyone that you might need to get in touch with again,
        or for anyone you might want to record notes against … not just members.
    </p>

{% endblock %}