{% extends 'features/features_template.html.twig' %}

{% block title %}Website management software for lending libraries{% endblock %}

{% block breadcrumb %}Website software for lending libraries and rental companies{% endblock %}

{% block featureContent %}

    <h1>Built-in self-serve website</h1>

    <p>Your Lend Engine account comes with a customer-facing website which lists items and availability - based on
        visibility settings that you choose (including fully private if you don't want to show anything at all).
        Give your customers and members access to detailed information with item images,
        description and any custom fields that you have chosen to be public.</p>

    <p><img src="/images/screenshots/member_site.png" style="width: 80%" class="img-responsive img-thumbnail"></p>

    <h3>Let members reserve items</h3>
    <p>Members and customers can see item availability and reserve items online.
        Volunteers or staff just need to check out these reservations when the member comes in to pick up their item.</p>

    <h3>Give your members control</h3>
    <p>Users can access their account information online, make changes to their details, add credit to their balance,
        and view loan, rental and payment history.</p>

    <h3>Self serve check out and check in</h3>
    <p>Choose to let members check items out and in without needing a volunteer or staff member - including
        customisable check out and check in prompts which must be completed.</p>

    <h3>Site customisation and URL</h3>
    <p>Modify the existing free theme with CSS and Javascript, or upgrade to one of our other themes.
        Using features such as custom pages and content, along with a dedicated URL, you can run your whole library
        website using Lend Engine.</p>

    <h3>Example member site</h3>
    <p>We've built an example site to show you how some of the features can be used.
        Feel free to browse around, register and reserve items.</p>

    <p><a href="https://ssl.lend-engine.com/" target="_blank">View the Lend Engine demo site</a></p>

{% endblock %}