{% extends 'features/features_template.html.twig' %}

{% block title %}Online rental software{% endblock %}

{% block breadcrumb %}Rental software{% endblock %}

{% block featureContent %}

    <h1 id="contacts">Rentals</h1>

    <p>
        The Lend Engine stores all your contact / member information online, where it can be accessed by
        anyone in your team. Unlike items (where only administrators can create or edit), anyone can
        create new contacts or make changes to contact information. Use the contact database to record
        contact details for anyone that you might need to get in touch with again, or for anyone you
        might want to record notes against … not just members.
    </p>

    <h3>Bike and sports equipment rentals</h3>
    <p>
        text
    </p>

    <h3>Tool rentals</h3>
    <p>
        Text
    </p>

    <h3>Audio/visual equipment rentals</h3>
    <p>
        Text
    </p>

    <h3>Party equipment rental</h3>
    <p>

    </p>

{% endblock %}