{% extends 'base.html.twig' %}

{% block title %}Lending Library Software powered by The Lend Engine{% endblock %}

{% block h1 %}Asset tracking for audio visual equipment{% endblock %}

{% block body %}


    <section id="title">
        <div class="container">
            <h1>Track your <span class="color-wt">audio visual equipment</span></h1>
            Cameras, video equipment, AV gear and more.
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-size: 24px">
                        Lend Engine is robust, easy to use software for managing your assets, members, rentals and loans.<br>
                        Track item serial numbers, instructions and manuals, and handle repairs and maintenance.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Built a rich, useful item database</h3>
                    <p>
                        Lend Engine lets you store all the information you need about your assets, including uploaded file attachments for manuals or instructions.
                        Using custom fields you can extend the platform even further.
                        It's all easy to set up and easy to access, and you can export all your data at any time.
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Online self-serve reservations</h3>
                    <p>
                        Every Lend Engine account comes with a built-in website where your customers or members can view the items you choose to be public.
                        They can see what's available, and what's out on loan. They can place reservations (for an optional fee) and manage their payments.
                        If you want, you can make the site for registered users only. It's all configurable.
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h3>Custom data fields</h3>
                    <p>
                        Use item and person custom fields to filter your data in ways that suit your organisation.
                        Perhaps you want to show sponsors or donors how their items are being used, or track loans by member region for funding applications.
                        It's all easy to set up and easy to access, and you can export all your data at any time.
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Export to CSV</h3>
                    <p>
                        Use item and member custom fields to filter your data in ways that suit your organisation.
                        Perhaps you want to show sponsors or donors how their items are being used, or track loans by member region for funding applications.
                        It's all easy to set up and easy to access, and you can export all your data at any time.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <h2>
                Sign up for a free account now.
            </h2>
            <a href="{{ path('signup') }}" class="btn btn-success btn-signup">Sounds good. Let's go!</a>
        </div>
    </section>


{% endblock %}
